.contentblocknonimage
{
	height: auto;
}

.contentblocktextnonimage
{
	width: 100%;
	height: 100%;
	display: block;
}

#firstcontentblockimage.contentblockimage
{
	background-image: url("../source/play/1.jpg");
}

#secondcontentblockimage.contentblockimage
{
	background-image: url("../source/play/2.jpg");
}

#thirdcontentblockimage.contentblockimage
{
	background-image: url("../source/play/3.jpg");
}

.layout
{
	position: relative;
}

.content
{
	display: block;
	width: 75%;
	margin-top: 0;
	/* margin-left: auto; */
	margin-right: 8%;
}

.contentblock
{
	margin-top: 0;
	margin-bottom: max(10% + 120px);
}

.contentnewslist
{
	display: block;
	float: left;
	position: fixed;
	width: 10%;
	height: auto;
	min-height: 10%;
	top: max(10% + 120px);
	margin-bottom: 0;
	margin-left: 3%;
	margin-right: 0;
	background-color: OrangeRed;
	border-radius: 5em;
	transition-duration: .5s;
	overflow: hidden;
	user-select: none;
	z-index: 10;
}

.contentnewslist:hover
{
	background-color: Orange;
	border-radius: 7em;
}

.contentnewslist a
{
	display: block;
	color: WhiteSmoke;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 1em;
	border-radius: 5em;
	transition-duration: .5s;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2em;
	text-align: center;
	hyphens: none;
}

.contentnewslist a:hover, .contentnewslist a:focus
{
  outline: none;
  padding: 1.5em 1em;
  background-color: SpringGreen;
  color: black;
  border-radius: 3em;
}

.contentnewslist a:active
{
  padding: 2em 1em;
  background-color: Lime;
  color: black;
  transition-duration: .15s;
}

.contentnewslist a.thispage
{
  background-color: #333;
}

.contentnewslist a.thispage:hover, .contentnewslist a.thispage:focus
{
  background-color: SpringGreen;
}

.contentnewslist a.thispage:active
{
  background-color: Lime;
}

@media screen and (max-width: 1900px)
{
	.contentnewslist a
	{
		font-size: 1em;
	}
}
@media screen and (max-width: 1600px)
{
	.contentnewslist a
	{
		font-size: .9em;
	}
}
@media screen and (max-width: 1400px)
{
	.contentnewslist a
	{
		font-size: .8em;
	}
}

@media screen and (max-width: 1300px)
{
	.contentnewslist
	{
		width: 2.5%;
		float: none;
		position: fixed;
		top: max(10% + 120px);
	}
	
	.contentnewslist:hover
	{
		width: 10em;
	}
	
	.contentnewslist a
	{
		opacity: 0;
		visibility: hidden;
		transition-delay: .15s;
		transition-duration: .5s;
	}
	
	.contentnewslist:hover a
	{
		opacity: 1; 
		visibility: visible;
		transition-delay: .15s;
		transition-duration: .5s;
	}
}

@media screen and (max-width: 1900px)
{
	.contentnewslist a
	{
		font-size: 1em;
	}
}

@media screen and (max-height: 700px)
{
	.contentnewslist a
	{
		font-size: 1em;
	}
}

@media screen and (max-height: 600px)
{
	.contentnewslist a
	{
		font-size: .8em;;
	}
}