* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Minecraft Title";
  font-style: normal;
  font-weight: 100;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Minecraft Title"),
  /* Если не получилось, загрузит woff2 */
  url("../source/Minecraft Title.ttf") format("woff2"); 
}

@font-face {
	  font-family: "Minecraft";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Minecraft"),
  /* Если не получилось, загрузит woff2 */
  url("../source/Minecraft.ttf") format("woff2");  
}

body
{
	font-family: "Minecraft", Verdana, Arial, Sans-serif;
	background: MediumSeaGreen url("../source/background.jpg") no-repeat fixed center;
	background-size: max(calc(100vh * 16 / 9), calc(200vw * 9 / 16));
	margin: 0;
}

::selection 
{
	background: DimGrey;
}

.topnav {
  overflow: hidden;
  position: fixed;
  background-color: OrangeRed;
  width: 100%;
  top: 0;
  transition-duration: .5s;
  user-select: none;
  z-index: 10;
  white-space: nowrap;
}

.topnav:hover {
  background-color: DarkOrange;
}

.topnav a 
{
  float: left;
  font-size: 1.2em;
  display: block;
  color: WhiteSmoke;
  text-align: center;  
  padding: 2em 1em;
  text-decoration: none;
  height: 100%;
  transition-duration: .5s;
  border-radius: 1.5em;
  margin-left: 1em;
}

.topnav a:hover, .topnav a:focus
{
  outline: none;
  padding: 2.5em 3em;
  background-color: SpringGreen;
  color: black;  
  margin-left: 0em;
  border-radius: 0em;
}

.topnav a:active
{
  padding: 2.5em 4em;
  background-color: Lime;
  color: black;
  transition-duration: .15s;
}

.topnav a.thispage
{
  background-color: #333;
}

.topnav a.thispage:hover, .topnav a.thispage:focus
{
  background-color: SpringGreen;
}

.topnav a.thispage:active
{
  background-color: Lime;
}

#logoBut
{
 font-family: "Minecraft title", "Minecraft", Verdana, Arial, Sans-serif;
 padding: 1.2em 3em;
 height: 100%;
 width: 12em;
 line-height: 100%;
 background-color: #333;
 font-size: 1.3em;
 font-weight: bold;
 color: DeepSkyBlue;
 text-shadow:  0 0 5px darkblue;
 border: 0.4em outset; 
 border-top: none;
 border-radius: 0em;
 margin-right: 1em;
}

#logoBut:hover, #logoBut:focus
{
  padding: 2.08em 4em;
  width: 16em;
  background-color: SpringGreen; 
  color: black;
  text-shadow:  none;
  margin-left: 0em;
  border-color: #00ff7f00;
  border-radius: 0em;
   margin-right: 0;
}

#logoBut:active
{
  padding: 2em 4em;
  width: 17em;
  background-color: Lime; 
}

#logoBut.thispage
{
	text-decoration: underline;
	text-decoration-thickness: 15%;
}

.Logo
{
	font-family: "Minecraft Title", Verdana, Arial, Sans-serif;
	width: 80%;
	color: OrangeRed;
	display: block;
	font-size: 8vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(20% + 166px);
	margin-bottom: 20%;
	padding: 0;
	text-align: center;
	line-height: 0;
	user-select: none;
	transition-duration: .5s;
}

.Logo:hover
{
	width: 85%;
	font-size: 8.5vw;
	color: DarkOrange;
}

.Logo:active
{
	width: 90%;
	font-size: 9vw;
	color: Orange;
}

.content
{
	display: block;
	width: 75%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	hyphens: auto;
}

.contentblock
{
	display: block;
	background-color: OrangeRed;
	height: 60vh;
	margin-top: max(10% + 120px);
	border-radius: 5em;
	overflow: hidden;
	transition-property: border-radius;
	transition-duration: .5s;
}

.contentblock:hover
{
	border-radius: 7em;
}

.contentblocktext
{
	display: inline-block;
	overflow-x: hidden;
	overflow-y: auto;
	color: WhiteSmoke;
	line-height: 2em;
	width: calc(100% - 60vh * 16 / 9);
	padding: 2em 4em;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	background-color: inherit;
	transition-duration: .5s;
	scrollbar-width: 12px;
	scrollbar-color: #333 #0000;
}

.contentblocktext::-webkit-scrollbar {
  width: 12px;
  }

.contentblocktext::-webkit-scrollbar-track {
  background: none;
}

.contentblocktext::-webkit-scrollbar-thumb {
    border: solid #0000;
    border-radius: 100px;
    background-color: #3339;
    background-clip: content-box;
	border-width: 3px;
	transition-duration: .5s;
}

.contentblocktext::-webkit-scrollbar-thumb:hover {
    background-color: #333D;
	border-width: 0;
}

.contentblocktext:hover
{
	background-color: DarkOrange;
}

.contentblocktext  a
{
	color: #333;
	text-decoration: none;
	transition-duration: .5s;
}

.contentblocktext:hover  a
{
	color: Navy;
}

.contentblocktext a:hover
{
	color: #777;
}

.contentblocktext a:active
{
	transition-duration: .15s;
	color: #999;
}

.contentblockimage
{
	float: right;
	display: inline-block;
	background: OrangeRed center;
	background-size: 100% 100%;
	width: calc(60vh * 16 / 9);
	height: 100%;
}

#firstcontentblockimage.contentblockimage
{
	background-image: url("../source/firstblock images/1.jpg");
}

#secondcontentblockimage.contentblockimage
{
	background-image: url("../source/firstblock images/2.jpg");
	float: left;
}

#thirdcontentblockimage.contentblockimage
{
	background-image: url("../source/firstblock images/3.jpg");
}

#nonecontentblockimage.contentblockimage
{
	float: left;
}

.footer {
  display: block;
  background-color: OrangeRed;
  text-align: left;
  color: WhiteSmoke;
  height: = 10em;
  width: = 100%;
  padding: 1em 10em;
  margin-top: 10%;
  margin-bottom: 0;
  transition-duration: .5s;
  z-index: 20;
}

.footer:hover
{
	background-color: DarkOrange;
}

@media screen and (max-aspect-ratio: 17/9) 
{
	.contentblock
	{
	display: block;
	height: auto;
	}
	
	.contentblocktext
	{
	display: block;
	overflow: auto;
	width: 100%;
	padding: 2em 4em;
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	}
	
	.contentblockimage
	{
		float: top;
		display: block;
		width: 100%;
		height: calc(75vw * 9 / 16);
		margin-bottom: 0;
	}
}

@media screen and (max-aspect-ratio: 1)
{
	.contentblocktext
	{
		font-size: .7em;
		padding: 4em 8em;
	}
}

@media screen and (max-aspect-ratio: 2/3)
{
	.contentblocktext
	{
		font-size: .5em;
		padding: 4em 8em;
	}
}

@media screen and (max-width: 1500px)
{
	.contentblocktext
	{
		font-size: 0.7em;
	}
	
	.contentblock
	{
		border-radius: 50px;
	}
	
	.contentblock:hover
	{
		border-radius: 70px;
	}
	
	.footer 
	{
		padding: 1em 5em;
	}
}

@media screen and (max-width: 1200px)
{
	.contentblocktext
	{
		font-size: 0.5em;
	}
	
	.footer 
	{
		padding: 1em 2em;
	}
}

@media screen and (max-width: 1100px)
{
	.topnav a 
	{
		width: 20%;
		padding: 2.5%;
		margin: 0 2.5%;
	}
	
	.topnav a:hover
	{
		width: 25%;
		padding: 3.5%;
		margin: 0;
	}
	
	.topnav a:focus
	{
		width: 25%;
		padding: 3.5%;
		margin: 0;
	}
	
	#logoBut
	{
		width: 90%;
		margin-left: 5%;
		padding: 2.5% 5%;
		border-radius: 2em;
		margin-top: .5em;
		border-style: solid;
		border-top: none;
	}
	
	#logoBut:hover, #logoBut:focus
	{
		width: 100%;
		margin: 0;
		padding: 4.5% 5%;
	}
	
	.contentblock
	{
	display: block;
	height: auto;
	}
	
	.contentblocktext
	{
	display: block;
	overflow: auto;
	width: 100%;
	padding: 2em 4em;
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	}
	
	.contentblockimage
	{
		float: top;
		display: block;
		width: 100%;
		height: calc(75vw * 9 / 16);
		margin-bottom: 0;
	}
	
	.contentblocktext
	{
		font-size: .7em;
		padding: 4em 8em;
	}
}

@media screen and (max-width: 800px)
{
	.contentblocktext
	{
		font-size: .5em;
		padding: 4em 8em;
	}
}