.contentblocktextnonimage
{
	text-align: justify;
}

.contentblocktextnonimage h1
{
	text-align: center;
}

.contentblockfactimages
{
	margin: 0;
	padding: 0;
	float: right;
	display: inline-block;
	background: #333 center;
	background-size: 100% 100%;
	width: calc(60vh * 16 / 9);
	height: 100%;
	position: relative;
}

@media screen and (max-aspect-ratio: 17/9)
{
	.contentblockfactimages
	{
		float: top;
		display: inline-block;
		width: 100%;
		height: calc(75vw * 9 / 16);
		padding: 0;
		margin-bottom: 0;
	}
}

.factimage
{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}