.contentblocknonimage
{
	height: auto;
}

.contentblocktextnonimage
{
	width: 100%;
	height: 100%;
	display: block;
}

#firstcontentblockimage.contentblockimage
{
	background-image: url("../source/play/1.jpg");
}

#secondcontentblockimage.contentblockimage
{
	background-image: url("../source/play/2.jpg");
}

#thirdcontentblockimage.contentblockimage
{
	background-image: url("../source/play/3.jpg");
}